<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <title>起步</title>
    <style>
        /* html,
        body {
            margin: 0 auto;
            padding: 0;
            width: 100%;
            height: 100%;
        } */
        #gameContainer {
            margin: 60px auto;
            padding: 0;
            width: 800px;
            height: 600px;
        }
    </style>
</head>

<body>
    <div id="gameContainer">
        <script defer src="../static/main.bundle.js"></script>
    </div>
</body>


</html>